<div>
  <div>
    <p> <%= user.name %> </p>
    <p> <%= user.role %> </p>
  </div>
  <p> <%= user.email %> </p>
  <p> <%= user.address %> </p>
  <p> <%= user.phone %> </p>
  <p> <%= link_to "Edit", "/users/#{user.id}/edit" %> </p>
</div>
