
<% if signUpFlag %>

<p class="newUsers-title">Welcome new user!</p>
<section class="UsersNew">
<%= form_with url: users_path do |form| %>
<div class="form-section">
<p class="formInput-label">Name:</p>
  <%= form.text_field :name, class: "form-input", placeholder: "name", autofocus: "autofocus" %>
  </div>
  <div class="form-section">
  <p class="formInput-label">Email:</p>
  <%= form.email_field :email, class: "form-input", placeholder: "E-mail" %>
  </div>
  <div class="form-section">
  <p class="formInput-label">Password:</p>
  <%= form.password_field :password, class: "form-input", placeholder: "password" %>
  </div>
    <div class="form-section">
  <p class="formInput-label">Phone:</p>
  <%= form.telephone_field :phone, class: "form-input", placeholder: "contact number" %>
  </div>
    <div class="form-section">
  <p class="formInput-label">Address:</p>
  <%= form.text_area :address, size: "35x6", class: "form-input", placeholder: "address" %>
  </div>
  <div class="form-section">
  <%= form.submit "Sign-up!", class: "form-submit" %>
  </div>
  </section>

<% end %>
<% else %>

<p class="newUsers-title">Sign in!</p>
<section class="UsersNew">
<%= form_with url: sessions_path do |form| %>
<div class="form-section">
  <div class="form-section">
  <p class="formInput-label">Email:</p>
  <%= form.email_field :email, class: "form-input", placeholder: "email", autofocus: "autofocus" %>
  </div>
  <div class="form-section">
  <p class="formInput-label">Password:</p>
  <%= form.password_field :password, class: "form-input", placeholder: "password" %>
  </div>
  <div class="form-section">
  <%= form.submit "Sign-in!", class: "form-submit" %>
  </div>
  </section>
<% end %>

<% end %>
