<!-- Tabs Titles -->
<div>
<% if signUpFlag %>
<%   signin = "sign-in underlineHover" %>
<%   signup = "sign-up active" %>
<% else %>
<%   signup = "sign-up underlineHover" %>
<%   signin = "sign-in active" %>
<% end %>
<%= link_to "Sign In", new_session_path, class: signin %>
<%= link_to "Sign Up", new_user_path, class: signup %>
</div>

<% if signUpFlag %>
  <%= form_with(url: users_path, method: "post") do %>
    <%= text_field_tag(:name, nil, placeholder: "name") %>
    <%= email_field(nil, nil, name: "email", placeholder: "E-mail") %>
    <%= password_field(nil, nil, name: "password", placeholder: "password")%>
    <%= telephone_field(nil, nil, name: "phone", placeholder: "contact number") %>
    <%= text_area_tag(:address, nil, size: "35x6", placeholder: "address") %>
    <%= submit_tag("Sign Up!", data: {disable_with: "Signing Up.."}) %>
  <% end %>
<% else %>
  <%= form_with(url: sessions_path, method: "post") do %>
    <%= text_field_tag(:email, nil, placeholder: "email") %>
    <%= password_field(nil, nil, name: "password", placeholder: "password")%>
    <%= submit_tag("Sign In!", data: {disable_with: "Signing In.."}) %>
  <% end %>
<% end %>
