<h5 class="display-5"> COMPLETED ORDERS </h5>
<table class="table">
<thead>
<th> OrderID </th>
<th> Name </th>
<th> Item Name </th>
<th> Item X price = total </th>
<th> Ordered </th>
<th> delivered </th>
<th> Total Price </th>
</thead>

  <% delivered_orders.each do |order| %>
  <tbody>
  <tr>
      <td><%= order.id %></td>
        <td>
        <% if order.user.role == "customer"%>
         <%= order.user.name %>
        <% else %>
         Walk-In-customer(by <%= User.find(order.user_id).name%>) </span>
        <% end %>
          </td>

      <td>
      <% order.order_items.each do |order_item| %>
      <table class="table">
        <tr>
          <td><%= order_item.menu_item_name %>
            </td>
            </tr>
              </table>
      <% end %>
        </td>

       <td>
       <% order.order_items.each do |order_item| %>
     <table class="table">
      <tr>
        <td>
          <%= order_item.menu_item_price %>  x  <%= order_item.quantity %> = &#8377; <%= order_item.total %>
            </td>
              </tr>
                </table>
           <% end %>
        </td>


        <td>
       <%= order.date.strftime("%d/%m/%Y") %>
        </td>
        <td>
         <%= order.delivered_at.strftime("%d/%m/%Y at %I:%M %p") %>
        </td>
        <td>
        &#8377; <%= order.totalPrice %>
        </td>
     </tr>
</tbody>
  <% end %>
</table>
