
<h5 class="display-5"> PENDING ORDERS </h5>
<% pending_orders.each do |order| %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Id</th>
      <th scope="col">Customer Name</th>
      <% if order.user_id == current_user.id %>
       <th scope="col">Cancel Order</th>
       <% end %>
      <th scope="col">Item Name</th>
      <th scope="col">Item X Price = Total Price</th>
      <th scope="col">Ordered Date</th>
      <th scope="col">Order status</th>
      <th scope="col">Total Price</th>
<% if @current_user.role != "customer" %>
      <th scope="col">Deliver</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <tr>
     <td><%= order.id %></td>
<% if order.user.role == "customer"%>
     <td><%= order.user.name %></td>
<% else %>
        <td>Walk-In-customer(by <%= User.find(order.user_id).name%>)</td>
        <% end %>
    <% if order.user_id == current_user.id %>
        <%= form_with(url: "/orders/#{order.id}", method: "delete") do %>
      <td><%= submit_tag("Cancel order !",class: "btn btn-danger", data: {disable_with: "Cancelling.."}) %></td>
         <% end %>
    <% end %>

      <td>
      <% order.order_items.each do |order_item| %>
      <table class="table">
        <tr>
          <td><%= order_item.menu_item_name %>
            </td>
            </tr>
              </table>
      <% end %>
        </td>

       <td>
       <% order.order_items.each do |order_item| %>
     <table class="table">
      <tr>
        <td>
          <%= order_item.menu_item_price %>  x  <%= order_item.quantity %> = &#8377; <%= order_item.total %>
            </td>
              </tr>
                </table>
           <% end %>
        </td>






      <td> <%= order.date.strftime("%d/%m/%Y") %></td>
      <td><%= order.status %></td>
      <td>&#8377; <%= order.totalPrice %></td>
<% if @current_user.role != "customer" %>
        <%= form_with(url: "/orderdeliver/#{order.id}", method: "POST") do %>
      <td> <%= submit_tag("Deliver",class: "btn btn-primary", data: {disable_with: "Delivering.."} ) %></td>
        <% end %>
<% end %>
   </tr>
  </tbody>
  <% end %>
</table>
