<%= link_to menus_path, class: "btn btn-primary" do %>
   Add More Items
<% end %>
  <div class="row row-cols-6 row-cols-md-6 g-4">
        <% order.order_items.order(:id).each do |order_item| %>
     <div class="col">
       <div class="card">
          <h5 class="card-header"><%= order_item.menu_item_name %></h5>
             <div class="card-body ">
                  <h6 class="card-text">&#8377; <%= order_item.menu_item_price %></h6>
                 <%= form_with(url: "/order_items/#{order_item.id}/decrementInCart", method: "put") do %>
                  <%= submit_tag("-", class: "btn btn-primary") %>
                 <% end %>
                  <h6 class="card-number"><%= order_item.quantity %></h6>
                <%= form_with(url: "/order_items/#{order_item.id}/incrementInCart", method: "put") do %>
                <%= submit_tag("+", class: "btn btn-primary") %>
                <% end %>
        <%= order_item.total %>
        <%= form_with(url: "/order_items/#{order_item.id}", method: "delete") do %>
          <%= image_submit_tag("TrashIcon.png", class: "btn btn-danger") %>
        <% end %>
      </div>
    </div>
  </div>
    <% end %>
  </div>
  <div class="container">
     <table class="table">
       <thead>
         <tr>
           <th> Total Price: </th>
           <th> Confirm order </th>
        </thead>
        <tbody>
           <tr>
             <td> <%= order.price %> </td>
             <td> <%= form_with(url: "/orders/confirm", method: "post") do %>
                <%= button_tag("Confirm Order", class: "btn btn-primary", type: "submit", data: { disable_with: "Confirming.." }) %>
               <% end %></td>
          </tr>
       </tbody>
     </table>
  </div>
